
.verify-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    border: 2px solid #ccc;
    margin: auto;
}

.verify-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.verify-form p {
    margin-top: 10px !important;
    color: red;
}

.verify-form label{
    align-self: flex-start;
}

.verify-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}