
.post-wrapper {
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 60px);
}

.post-wrapper {
    overflow-y: scroll;

    /* Приховуємо скролбар */
    scrollbar-width: none;        /* Firefox */
    -ms-overflow-style: none;     /* IE і старий Edge */
  }
  
  .post-wrapper::-webkit-scrollbar {
    display: none;                
  }
  
  .post-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 20px;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }