
.comment-form-wrapper {
    width: 100%;
    min-height: 100px;
    background-color: white;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
}

.comment-form-wrapper form {
    display: flex;
    flex-direction: column;
}

.comment-form-wrapper form textarea:focus {
    border: none;
}

.comment-form-wrapper form textarea {
    resize: none;
    height: 150px;
}

.comment-form-wrapper form button {
    margin-top: 10px;
    width: 20%;
    height: 40px;
}

